.search-tab
{
	min-height: 300px;
}
.patient-display
{
	width: 700px;
	padding: 10px;
	min-height: 500px;
	vertical-align:top;
}

.sidebar
{
	width: 150px;
	display:inline-block;
	padding: 10px;
	min-height: 500px;
	vertical-align:top;
}
.sidebar-element
{
	min-height: 60px;
	padding-top: 35px;
	text-align:center;
}
.sidebar-element:hover
{
	background-color:#f7a6ea;
	cursor:pointer;
	cursor:hand;
}
.sidebar-element a
{
}

.sidebar-element a:link    {color:black; text-decoration:none;}
.sidebar-element a:visited {color:black; text-decoration:none;}
.sidebar-element a:hover   {color:black; text-decoration:none;}
.sidebar-element a:active  {color:black; text-decoration:none;}

.treat-input-code
{
	min-width: 100px;
}
.treat-input-overwrite
{
	min-width: 150px;
}
.treat-input-insured
{
	min-width: 150px;
}
.treat-input-cost
{
	min-width: 100px;
}
.treat-input-treatment
{
	min-width: 400px;
}
.treat-total
{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	border-top: 2px solid black;
}
.treat-input
{
	
}
.history-data
{
	min-width: 300px;
}
td
{
	text-align:center;
}