body {
	margin: 0;
	padding: 0 !important;
	
}

#chatbox
{
	width:500px;
	margin-left:850px;
	min-height: 400px;
	height: 350px;
	padding: 5px;
	display:inline-block;
	
	position:relative;
}

#searchbox
{

	width:830px;
	height: 350px;	

	/*width:50%;*/
	/*min-width: 50%;*/
	min-height: 200px;	

	padding: 5px;
	
	display:inline-block;
	position:absolute;
}

#detailsbox
{
	width:100%;
	min-width: 100%;
	min-height: 600px;	
	padding: 5px;
	display:inline-block;

	
}



#navbar {
	width:100%;
	min-width: 100%;
	min-height: 30px;	
	padding: 5px;
	display:inline-block;
	background-color: #ffcccc;
}
.welcome-div{
	margin-top:5px;
}
.menubar{
	width: 50%;
	position:absolute;
	top:0px;
	left:50%;
	vertical-align:central;	
}
.menu-button{
	margin-top:7px;
	margin-right:3px;
	padding:5px;
	display:inline-block;
}
.menu-deco:hover{
	border-bottom:thick solid #900;
	cursor:pointer;
	cursor:hand;
}

.menu-link{
	
}
.menu-link:link    {color:black; text-decoration:none;}
.menu-link:visited {color:black; text-decoration:none;}
.menu-link:hover   {color:black; text-decoration:none;}
.menu-link:active  {color:black; text-decoration:none;}
.fade{
	color: #929292;
}

